@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shape-divider-top-1713182923 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1713182923 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1713182923 .shape-fill {
  fill: #fbbf24;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1713182923 svg {
    width: calc(100% + 1.3px);
    height: 175px;
  }
}
